@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Products";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>AccessDenied</title>
    </head>
    <body>
        <h1>Access Denied</h1>
        You can't do that.
    </body>
</html>
