@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Welcome";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title:</h1>
            <h2>VAULT Network Solutions for Physical Security</h2>
        </hgroup>
        <p>
            Welcome to VAULT! We provide product protection and authentication services to verify ownership, history, and status. Through the use of Near-Field Communication/Radio Frequency Identification, 
            VAULT allows you to ensure that no one steals your products so your customers can be assured that they have the authentic product, eliminating profit losses and theft.
        </p>
    </div>
</section>
}

<h3>More Information:</h3>

<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Contact us for pricing information and tag recommendations for your specific product. Not all RFID tags will work with every product, and we'll help you figure out which ones will work for you.
    </li>

    <li class="two">
        <h5>Setup Your Account.</h5>
        Work with our friendly staff to setup your account and the system infrastructure. We'll provide you with a license which will allow you to use our system to prevent item theft and purgery. 
    </li>

    <li class="three">
        <h5>Enjoy Your Peace of Mind</h5>
        Now you can relax knowing that you have given your customers a guarantee of authenticity and have maximized your profits.
    </li>
</ol>